<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.oscar.aeronet">

    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="AA_DB_NAME"
            android:value="Pickrand" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="5" />

        <activity
            android:name=".vista.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".vista.MenuCampo"
            android:label="Menu"
            android:parentActivityName=".vista.ListaEquipos">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".vista.ListaEquipos" />
        </activity>
        <activity
            android:name=".vista.ListaEquipos"
            android:label="Lista de Equipos" />
        <activity
            android:name=".vista.ListaFiltros"
            android:label="Lista d Filtros" />
        <activity android:name=".vista.Datos" />
        <activity android:name=".vista.CalibrarActivity" />
        <activity android:name=".vista.Calibradores"
            android:label="Calibradores"
            android:parentActivityName=".vista.MenuCampo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".vista.MenuCampo" />
        </activity>
        <activity android:name=".vista.InstalarFiltros"
            android:label="Instalar Filtros"
            android:parentActivityName=".vista.MenuCampo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".vista.MenuCampo" />
        </activity>
        <activity android:name=".vista.RecogerFiltros" android:label="Recoger Muestra">
            android:parentActivityName=".vista.MenuCampo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".vista.MenuCampo" />
        </activity>
    </application>

</manifest>